{{ define "main" }}
<main class="bg-gradient-to-r flex-1 flex flex-col from-slate-950 via-slate-600 to-slate-950 ">
    <!-- hero card section -->
    <section class="m-auto w-5/6 md:w-3/5 font-mono flex flex-col md:flex-row items-center pt-[0.5rem] max-w-6xl mx-auto {{ if not (where .Site.RegularPages " Section " "posts ") }} mb-8 md:m-auto {{ end }}">
        <img src="{{ "assets/yasin-amirany-photo.png" | relURL }}" alt="Yasin Amirany's photo" class="md:hidden my-[1rem] lg:block w-[13rem] h-[13rem] rounded-full object-cover aspect-square  md:mr-[1rem] ring-[0.2rem] ring-black" />
        <div class="max-w-2xl ">
            <h1 class="font-bangers text-4xl text-stone-300 pl-2 text-center md:text-left font-bold  rounded-md bg-stone-950">
                <span class="text-slate-400">{</span>Back-End<span class="text-slate-400">}</span> Developer
            </h1>
            <p class="font-bangers text-slate-400 text-center md:text-left bg-dark-gray ">
                // !@#$%^&*%#^!*@&#^&&$*&!**&#&&~~~&@&#@!()#__**$@*$**@*&$(#)@!@#($) //
            </p>
            <p class="bg-stone-950 text-2xl rounded-md pl-2 text-stone-200 m-0 p-0">
                Hey! I'm <span class="items-center  font-semibold text-black rounded-md px-1 bg-slate-400">Yasin Amirany</span>. A CS student and passionate back-end web developer. I'm driven to build innovative web solutions and contribute to the future
                of the internet. I enjoy coding, problem-solving, and embracing challenges to grow as a developer.
            </p>
        </div>
    </section>

    {{ if (where .Site.RegularPages "Section" "posts") }}
    <section class="bg-neutral-800 border-black border-t-[0.3rem] font-mono mt-[0.5rem] mx-auto w-full" id="blog">
        <h2 class="font-bangers text-3xl text-[#707070] text-center">
            Latest Post
        </h2>

        <div class="grid gap-6 m-auto w-5/6 md:w-3/5 pb-[1rem] max-w-6xl">
            {{ range first 1 (where .Site.RegularPages "Section" "posts") }}
            <article class="bg-[#707070] p-6 rounded-md hover:bg-dark-gray transition-colors w-full">
                <h3 class="font-bangers text-neutral-950 text-2xl mb-2 hover:text-slate-700">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
                <p class="text-slate-300 mb-2">{{ .Date.Format "January 2, 2006" }}</p>
                <div class="font-mono font-bold text-xl custom-prose">{{ .Summary | truncate 250 | safeHTML }}</div>
                <a href="{{ .RelPermalink }}" class="inline-block mt-4 text-slate-950 font-bold text-2xl rounded-md px-2 bg-slate-400 hover:bg-slate-700">read++</a>
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}
</main>
{{ end }}