<footer class=" font-bangers text-center bg-[#221F14] pb-[0.1rem] pt-[0.5rem] border-t-[0.3rem] border-black w-full">
    <!-- Copyright -->
    <div>
        </p>
        <ul class="justify-center  flex gap-[1rem] ">
            {{ partial "social-links.html" . }}
        </ul>
        <p class="text-lg my-2 text-slate-300">
            &copy; {{ now.Year }} <span class="text-slate-500  "> amirany</span><span class="text-red-600">.net</span><img src="{{ "assets/yasin-amirany-logo.png" | relURL }}" class="inline ml-1 max-w-[2rem] max-h-[2rem]">
    </div>
</footer>